In [1]:
import pandas as pd

## File Import

In [ ]:
#Import the Drug_clean.csv file in DataResources Folder
#https://www.kaggle.com/datasets/thedevastator/drug-performance-evaluation?select=Drug_clean.csv
df = pd.read_csv('DataResources/Drug_clean.csv')

#Remove uncessary columns
df_clean = df.drop(columns=['Indication', 'Type'])

df_clean.head()

## Data Clanup
#### The broader CSV file will be split into the following individual CSV files, each representing a table in the relational database.

In [ ]:
# Conditions Table
# Determine the unique values in the Condition column
conditions = pd.DataFrame(df_clean['Condition'].unique(), columns=['Condition'])

# Include index values into the conditions df and rename column as Condition_no. This column will serve as PK.
conditions.reset_index(inplace=True)
conditions.rename(columns={'index': 'Condition_no'}, inplace=True)

#Save data into a CSV file
conditions.to_csv('DataResources/conditions.csv', index=False)

In [ ]:
#Drugs Table
# Determine the unique values in the Drug column
drugs = pd.DataFrame(df_clean['Drug'].unique(), columns=['Drug'])

# Include index values into the drugs df and rename column as Drugs_no. This column will serve as PK.
drugs.reset_index(inplace=True)
drugs.rename(columns={'index': 'Drugs_no'}, inplace=True)

#Save data into a CSV file
drugs.to_csv('DataResources/drugs.csv', index=False)

In [ ]:
#Forms Table

forms = pd.DataFrame(df_clean['Form'].unique(), columns=['Form'])

# Include index values into the forms df and rename column as Form_no. This column will serve as PK.
forms.reset_index(inplace=True)
forms.rename(columns={'index': 'Form_no'}, inplace=True)

#Save data into a CSV file
forms.to_csv('DataResources/forms.csv', index=False)

In [ ]:
#Drug Data Table

# Merge all of the previous df (conditions, drugs, forms) with larger df to ensure matching PKs.
drug_data = pd.merge(df_clean, conditions, on='Condition', how='left')
drug_data = pd.merge(drug_data, drugs, on='Drug', how='left')
drug_data = pd.merge(drug_data, forms, on='Form', how='left')

# Drop the actual columns since they were replaced by the XX_no (PK columns), and reorganize column placement.
drug_data =  drug_data.drop(columns=['Condition', 'Drug', 'Form'])\
[['Condition_no', 'Drugs_no', 'Form_no', 'EaseOfUse', 'Effective', 'Price', 'Reviews', 'Satisfaction']]

# Include index values into the drug_data df to serve as table PK.
drug_data.reset_index(inplace=True)
drug_data.rename(columns={'index': 'pk'}, inplace=True)

#Save data into a CSV file
drug_data.to_csv('DataResources/drug_data.csv', index=False)

## PostgresSQL Import

In [2]:
from sqlalchemy import create_engine
import psycopg2 
from sqlalchemy.ext.automap import automap_base

In [6]:
connection_string = 'postgresql://postgres:postgres@127.0.0.1:5432/DrugDataSQL'
engine = create_engine(connection_string)

query_drug = 'SELECT * FROM public."Drug"'
query_data = 'SELECT * FROM public."Drug_data"'
query_conditions = 'SELECT * FROM public."Conditions"'
query_forms = 'SELECT * FROM public."Form"'

df_drug = pd.read_sql(query_drug, engine)
df_data = pd.read_sql(query_data, engine)
df_conditions = pd.read_sql(query_conditions, engine)
df_forms = pd.read_sql(query_forms, engine)

     Drug_no                         Drug
0          0                  Amoxicillin
1          1  Amoxicillin-Pot Clavulanate
2          2                   Ampicillin
3          3            Ampicillin Sodium
4          4                 Azithromycin
..       ...                          ...
465      465         Butoconazole Nitrate
466      466           Miconazole Nitrate
467      467      Miconazole-Skin Clnsr17
468      468                  Terconazole
469      469                  Tioconazole

[470 rows x 2 columns]

In [10]:
df_forms.head()

   Form_no             Form
0        0          Capsule
1        1   Liquid (Drink)
2        2           Tablet
3        3            Cream
4        4  Liquid (Inject)